/*
/*background
*/

$application-bg: lighten(grey, 45%);
$brand-bg: #282846;

/*
/*mixins
*/

@mixin change-animation($from,$to) {
    @keyframes scale-change {
        0% {
            transform: translateY($from);
        }
        50% {
            transform: translateY($to);
        }
        100% {
            transform: translateY($from);
        }
    }
    animation: scale-change 6s infinite;
}

@mixin center-page-container($percent) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: $percent;
}
